extends layout

block content

  div.splash-container
    div.splash
      h1.splash-head DroidDolphin
      p.splash-subhead a Dynamic Android Malware Detection Framework Using Big Data and Machine Learning

  div.content-wrapper
    div.content
      h2.content-head.is-center Scroll Down to Upload Your .apk file here
      div.pure-g
        div.l-box-lrg.pure-u-1.pure-u-md-2-5
          form.pure-form.pure-form-stacked(action='/upload', method='post', enctype='multipart/form-data')
            fieldset
              legend Upload Area
              label(for='upload') Choose your file to upload
              input#upload( type='file', name='apk_file')
              label(for='description') Description
              input#description(type='text', name='description', placeholder='You can write some additional information here')
              label(for='source') Source
              input#source(type='text', name='source', placeholder='Where did you download this application?')
              label(for='is_malware') Malicious or Benign
                select#is_malware(name='is_malware') 
                  option Unknown
                  option Benign
                  option Malicious
              button.pure-button(type='submit') Submit
        div.l-box-lrg.pure-u-1.pure-u-md-3-5
          h4 What can I do here?
          p You can upload your Android applications and test whether the application is a malware or not, the result may come in few minutes, please be patient before the result comes out.
          h4 What is DroidDolphin?
          p DroidDolphin is a dynamic malware analysis framework which leverages the technologies of GUI-based testing, big data analysis, and machine learning to detect malicious Android applications. Based on our automatic testing tool, we were able to collect a dataset with 16,000 benign and 16,000 malicious applications so far. Our preliminary results showed that the prediction accuracy reaches 84.1% and F-score reaches 0.837.
    div.content
      h2.content-head.is-center Analysis Result
      div.pure-u-1.pure-u-md-1.pure-u-lg-1
        table#board.pure-table.pure-table-horizontal(style='width: 100%')
    div.footer.l-box.is-center Copyright © 2013-2014 NTU CSIE PAS Lab. All Rights Reserved

