doctype 5
html
  head
    title= title
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/pure-min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/grids-responsive-min.css')
    link(rel='stylesheet', href='/css/marketing.css')
    link(rel='stylesheet', href='/css/droiddolphin.css')

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/js/droiddolphin.js')
    script(src='http://140.112.90.32:35729/livereload.js')
  body
    block content
